<section class="page blog-page">
    <div class="blog-page__header">
        <h1 class="blog-page__header__title">{{this.user.name}} {{this.user.surname}}</h1>
        <span class="blog-page__header__nickname">@{{this.user.nickname}}</span>
        <span class="blog-page__header__average">Средняя оценка постов: {{this.user.average_rate}}</span>
        <span class="blog-page__header__posts-amount">Количество постов: {{this.user.posts_amount}}</span>
    </div>
    <div class="posts-page">
        {{#each this.user.posts as | post |}}
        {{> posts/post_preview post}}
        {{/each}}
    </div>
</section>