<section class="page read-post-page">
    <div class="read-post-page__header">
        <img src="{{this.post.cover}}" alt="" class="read-post-page__cover" />
        <span class="read-post-page__info">{{this.post.author.name}} {{this.post.author.surname}}</span>
        <span class="read-post-page__nickname">@{{this.post.author.nickname}}</span>
        <span class="read-post-page__rate">{{rate}}</span>
    </div>
    <h1>{{post.title}}</h1>
    <p>{{post.body}}</p>
</section>